{
  "private_key":    "0xYOUR_PRIVATE_KEY",
  "api_key":        "YOUR_API_KEY",
  "api_secret":     "YOUR_API_SECRET",
  "api_passphrase": "YOUR_PASSPHRASE",

  "db_mmap_mb": 0,

  "webstatuspage_html": false,
  "webstatuspage_path": "~/public_html/tradinebot_status.html",
  "webstatus_user":     "tradinebot",
  "webstatus_password": ""
}
